body,html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.signInBody {
  height: 100%;
}

.login {
  margin-top: 10vh;
  height: 100%;
}

.loginInput {
  margin-bottom: 2vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-datepicker-popper {
  z-index: 10 !important;
}

.react-datepicker__input-container > input {
  text-align: center;
}

.dateLeft {
  margin-right: 10px;
}

.dateRight { 
  margin-left: 10px;
}

.button-purple {
  background-color: #80F;
  border-color: white;
}

.button-purple:hover, .button-purple:active, .button-purple.active, 
.open>.dropdown-toggle.button-purple, .button-purple:active:focus {
  color: #fff;
  background-color: rgb(157, 59, 255) !important;
  border-color: #fff !important;
  background-image: none;

}

.button-purple:focus, .button-purple:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(159, 63, 255, 0.479) !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
  background-color: #A5F !important;
}
